/* HTML: <div class="loader"></div> */
.loader {
  top: 40%;
  left: 160%;
  width: 70%;
  height: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader:before {
  content: "";
  position: absolute;
  border-radius: 50px;
  color: var(--color-primary-light);
  box-shadow: 0 0 0 3px var(--color-primary);
  animation: l3 0.75s infinite alternate;
}

@keyframes l3 {
  0% {
    inset: 0 35% 0 0;
  }

  50% {
    inset: 0 0 0 0;
  }

  100% {
    inset: 0 0 0 35%;
  }
}